@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", "Quicksand", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    background-color: #fff;
    position: relative;
}
body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.9s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Poppins", "Quicksand", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
a,
a:hover {
    text-decoration: none !important;
}

.hero {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 0px 0;
}
@media (min-width: 768px) {
    header {
        padding: 15px 0;
    }
}
header .navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 2rem;
}
header .navbar-brand.absolute {
    position: absolute;
}
@media (max-width: 991.98px) {
    header .navbar-brand.absolute {
        position: relative;
    }
}
header .navbar-brand span {
    color: #fff;
}
@media (min-width: 768px) {
    header .navbar-brand span {
        color: #ced4da;
    }
}
header .navbar {
    background: black !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
    header .navbar {
        padding-top: 0;
        padding-bottom: 0;
        background: none !important;
        position: relative;
    }
}
header .navbar .nav-link {
    padding: 1.7rem 1rem;
    outline: none !important;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1199.98px) {
    header .navbar .nav-link {
        padding: 0.5rem 0rem;
    }
}
header .navbar .nav-link.active {
    color: #fff !important;
}
header .navbar .dropdown-menu {
    font-size: 14px;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    min-width: 13em;
    margin-top: -10px;
}
header .navbar .dropdown-menu:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 7px;
}
@media (max-width: 991.98px) {
    header .navbar .dropdown-menu:before {
        display: none;
    }
}
header .navbar .dropdown-menu .dropdown-item:hover {
    background: #007bff;
    color: #fff;
}
header .navbar .dropdown-menu .dropdown-item.active {
    background: #007bff;
    color: #fff;
}
header .navbar .dropdown-menu a {
    padding-top: 7px;
    padding-bottom: 7px;
}
header .navbar .cta-btn a {
    background: #007bff;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 15px 20px !important;
    line-height: 1;
    font-weight: bold;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
header .navbar .cta-btn a:hover {
    background: #fff;
    color: #007bff !important;
    -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.navbar-brand,
.navbar-brand img {
    width: 140px;
}

.register-btn {
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--white, #fff);
    font-family: "Poppins";
    padding: 0px 16px;
    transition: 150ms;
}

.register-btn a {
    color: white;
    text-decoration: none;
}

.register-btn:hover {
    border: 3px solid var(--htumunred, #fff);
    background-color: var(--htumunred);
}

.nav-link:hover {
    color: var(--htumunred) !important;
    transition: 150ms;
}

.activeLink {
    text-decoration: underline !important;
    text-decoration-color: var(--htumunred) !important;
    text-underline-offset: 16px;
}

/* CSS for the loading overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Black background with 80% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other elements on the page */
}

/* CSS for the loading spinner */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Use the --spinner-color variable here */
    border-top: 4px solid var(--htumunred, #991b1e); /* Default to #3498db if --spinner-color is not set */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 100% !important;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 0.5rem;
}
.dropdown-item:hover {

    background: var(--htumunred) !important;

}

.panel img {

    border-radius: 50%;
    
}